<p>
	<strong>Name:</strong>
	<%= @category.name %>
</p>

<h5><%= link_to "Edit Posting", edit_category_path(@category) %></h5>
<h5><%= link_to 'Delete Posting', @job, method: :delete , data: {confirm: 'Are you sure?'}%></h5>
